<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPXViewer.Properties.KmlSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GPXViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GPXViewer.Properties.FindNear" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GPXViewer.Properties.KmlSettings>
            <setting name="KmlFileName" serializeAs="String">
                <value>%temp%\gpxviewer.kml</value>
            </setting>
            <setting name="IconScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TrkAlpha" serializeAs="String">
                <value>ff</value>
            </setting>
            <setting name="TrkColor" serializeAs="String">
                <value>ff0000</value>
            </setting>
            <setting name="TrkColorMode" serializeAs="String">
                <value>RAINBOW</value>
            </setting>
            <setting name="TrkLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseTrkIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTrkTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTrkLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrkIconUrl" serializeAs="String">
                <value>http://maps.google.com/mapfiles/kml/pushpin/wht-pushpin.png</value>
            </setting>
            <setting name="RteAlpha" serializeAs="String">
                <value>ff</value>
            </setting>
            <setting name="RteColor" serializeAs="String">
                <value>0000ff</value>
            </setting>
            <setting name="RteColorMode" serializeAs="String">
                <value>COLOR</value>
            </setting>
            <setting name="RteLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseRteIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RteIconUrl" serializeAs="String">
                <value>http://maps.google.com/mapfiles/kml/paddle/wht-circle.png</value>
            </setting>
            <setting name="WptAlpha" serializeAs="String">
                <value>ff</value>
            </setting>
            <setting name="WptColor" serializeAs="String">
                <value>ffcc66</value>
            </setting>
            <setting name="WptColorMode" serializeAs="String">
                <value>COLOR</value>
            </setting>
            <setting name="WptLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseWptIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WptIconUrl" serializeAs="String">
                <value>http://maps.google.com/mapfiles/kml/paddle/wht-circle.png</value>
            </setting>
            <setting name="PromptToOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendToGoogleEarth" serializeAs="String">
                <value>True</value>
            </setting>
        </GPXViewer.Properties.KmlSettings>
        <GPXViewer.Properties.Settings>
            <setting name="StartupFiles" serializeAs="String">
                <value />
            </setting>
        </GPXViewer.Properties.Settings>
        <GPXViewer.Properties.FindNear>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="DoTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoWaypoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>*.gpx</value>
            </setting>
            <setting name="Radius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>mi</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>42.591677</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-83.600389</value>
            </setting>
        </GPXViewer.Properties.FindNear>
    </userSettings>
</configuration>