<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GPXViewer.Properties.FindNear" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GPXViewer.Properties.FindNear>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="DoTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoWaypoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>*.gpx</value>
            </setting>
            <setting name="Radius" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>mi</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>42.591677</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>-83.600389</value>
            </setting>
        </GPXViewer.Properties.FindNear>
    </userSettings>
</configuration>